.clientDet{
    background-color: #D1D1d1;
    padding: 50px 200px;
}

.clientDetInfo{
    background-color: white;
    padding: 50px 50px;
    border-radius: 5px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    display: flex;
    gap: 350px;
    justify-content: center;

}
.infoBtn{
  padding-top: 20px;
    display: flex;;
    justify-content: space-between;
}
.images{
    padding: 50px;
    background-color: white;
    margin-top: 20px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    border-radius: 5px;
}