@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&display=swap');

.container {
    position: relative;
    text-align: center;
    color: white;
}
.centered {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.centered h1{
    color: white;
    font-family: 'Libre Baskerville', serif;
}
.lanBtn{
   display: flex;
   gap: 30px;

}